{% for vhost in vhosts %}
<VirtualHost *:80>
   ServerName {{ vhost.servername }}
   DocumentRoot {{ vhost.documentroot }}
{% if vhost.serveradmin is defined %}   ServerAdmin {{ vhost.serveradmin }}
{% endif %}
</VirtualHost>

{% endfor %}